// 可変数
$background: #FFFFF5;
$text: #16161a;
$sub-text: #283266;

// 不変数
$white: #FFFFF5;
$black: #16161a;
$gray: #DDDDDD;

$green: #3B7579;
$green_greenish: #3B7579;

$blue: #404251;
$blue_grrenish_lighten_1: #5E99A1;
$blue_greenish_darken_1: #40666F;