$white: #F0F0F0;

$black: #1E1E1E;

$primary: #60C4B0;
$primary-lighten-1: #88D3C4;
$primary-lighten-2: #B0E2D7;
$primary-lighten-3: #D7F0EB;
$primary-darken-1: #489384;
$primary-darken-2: #306258;
$primary-darken-3: #18312C;

$text: #283266;